.header-title {
    color: white;
    /* font-family: 'Galada', cursive; */
    font-size: 50px;
    /* float: left; */
}

.header-subtitle, .tabs {
    color: white;
    /* font-family: 'Anton', sans-serif; */
    font-size: large;
    flex-grow: 1 !important;
    /* float:left; */
}

      
.tabs a {
    color: white !important;
    background-color: grey;
    opacity: 0.8;
    flex-grow: 1 !important;
}